.container_project_lesnoy {
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    Width: 1400px;
    Height: 717px;
    background-image: url('../resources/bed.png');
}

.project_text {
    margin: 0 auto;
    position: absolute;
    bottom: 60px;
    left: 125px;
    height: 82px;
    width: 443px;
    font-size: 30px;
    color: #FFFFFF;
}