.services_container_black {
    margin: 0 auto;
    box-sizing: border-box;
    top: 3868px;
    width: 1400px;
    height: 1844px;
    background-color: #121212;
    color: #FFFFFF;
    letter-spacing: -0.03em;
}

.uslugi {
    padding-left: 127px;
}

h4 {
    margin: 0 auto;
    margin-bottom: 34px;
    padding-top: 151px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.vse_uslugi {
    width: 1150px;
    height: 270px;

}

.text-uslug:nth-last-child(1) {
    margin-bottom: 150px;
}

.image-uslug {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}

.text-uslug {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
}