* {
    box-sizing: border-box;
} 

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
}
.container {
    margin: 0 auto;
    width: 1400px;
    height: 3868px;
    background: #FFFFFF;
    padding-left: 125px;
    padding-right: 125px;
    
}

.nav-section {

    display: inline-flex;
    padding-top: 33px;
    letter-spacing: -0.03em;
}

.logo {
    display: block;
    margin-right: 558px;
    width: 126px;
    height: 21px;
}

.nav {
    
    font-size: 18px;
    line-height: 25px;
    white-space: nowrap;
}

.nav_link {
    margin-right: 60px;
    font-weight: 400;
    color: #121212;
    text-decoration: none;
    
}

.nav_link:first-child {
    opacity: 50%;
    text-decoration: underline;
}


.nav_link:last-child {
    margin-right: 0;
}



.interior {
    position: relative;
    height: 500px; 
    width: 1150px; 
    background-repeat: no-repeat;
    background-image: url('../resources/interior.png');
}

.image-text {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

h1, h2, h3 {
    letter-spacing: -0.03em;
    color: #121212;
}

h1 {
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 400;
    width: 956px;
    line-height: 60px;
}

h2 {
    margin-top: 150px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

p.description {
    margin-top: 30px;
    margin-bottom: 0;
    width: 1048px;
    height: 366px;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
    text-align: left;

}

.a{
    margin-top: 30px;
    margin-bottom: 150px;
    display: inline-block;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #AD1818;
    color: #FFFFFF;
    cursor: pointer;
}

h3 {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.design {
    width: 1150px;
    height: 450px;
    letter-spacing: -0.03em;
}

.image-studio {
    margin-bottom: 15px;
    display: block;
    width: 100%;
    height: 100%;
}

.GK {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #121212;
}

.link {
    display: block;
    margin-top: 15px;
    margin-bottom: 90px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-decoration: none;
    color: #AD1818;
}

.all_projects {
    display: block;
    margin-bottom: 150px;
    width: 100%;
    height: 153px;
    line-height: 152px;
    border: 1px solid #AD1818;
    text-decoration: none;
    text-align: center;
    color: #AD1818;
    font-size: 30px;
    letter-spacing: -0.03em;
}

.all_projects:hover {
    background-color: #AD1818;
    color: #FFFFFF;
}

.container_black {
    margin: 0 auto;
    box-sizing: border-box;
    top: 3868px;
    width: 1400px;
    height: 1844px;
    background-color: #121212;
    color: #FFFFFF;
    letter-spacing: -0.03em;
}

.uslugi {
    padding-left: 127px;
}

h4 {
    margin: 0 auto;
    margin-bottom: 34px;
    padding-top: 151px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.vse_uslugi {
    width: 1150px;
    height: 270px;

}

.text-uslug:nth-last-child(1) {
    margin-bottom: 150px;
}

.image-uslug {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}

.text-uslug {
    margin-bottom: 60px;
    margin-top: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
}

.container_project {
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    Width: 1400px;
    Height: 717px;
    background-image: url('/resources/bed.png');
}

.project_text {
    margin: 0 auto;
    position: absolute;
    bottom: 60px;
    left: 125px;
    width: 443px;
    font-size: 30px;
    color: #FFFFFF;
}

.contacts-block { 
    margin: 0 auto;
    width: 1400px;
    height: 553px;
    letter-spacing: -0.03em;
    color: #121212;
}

h5 {
    margin-top: 0;
    margin-left: 124px;
    margin-bottom: 32px;
    padding-top: 150px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

h5::before {
    content: '';
    display: block;
    margin-top: 0;
    margin-bottom: 12px;
    width: 24px;
    height: 24px;
    background-image: url(/resources/telephone.png);
    background-size: contain;
}

.number {
  display: inline-block;
  margin-left: 125px;
  margin-top: 0;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  text-decoration: none;
  letter-spacing: -0.03em;
}

.email {
  display: inline-block;
  margin-left: 125px;
  margin-top: 30px;
  margin-bottom: 150px;
  font-weight: 400;
  font-size: 60px;
  opacity: 50%; 
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #121212;
  text-decoration: none;
}

.email::after {
  content: '';
  display: block;
  margin-left: 3px;
  margin-top: 10px;
  width: 406px;
  height: 2px;
  background-image: url('/resources/Line 2.png');
  background-size: contain;
}


   
