body {font-family: "Manrope", sans-serif;
    width: 100%;
   background: #f5f5f5;
}
.container {
    margin: 0 auto;
    width: 1400px;
    background: #FFFFFF;
    padding: 125px;

}

.interior {
    margin-top: 30px;
    height: 500px; 
    width: 1150px; 
    background-repeat: no-repeat;
    background-image: url('../resources/interior.png');
}

.image-text {
    padding-top: 379px;
    padding-left: 40px;
    padding-bottom: 40px;
    width: 430px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #FFFFFF;


}

h1 {
    font-size: 60px;
    font-weight: 400;
    width: 956px;
    line-height: 60px;
    text-align: left;
    letter-spacing: -0.03em;
}

h2 {
    margin-top: 150px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: left;
}
p.description {
    margin-top: 30px;
    margin-bottom: 0;
    width: 1048px;
    height: 366px;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
    text-align: left;

}

.a{
    margin-top: 30px;
    display: inline-block;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #AD1818;
    color: #FFFFFF;
    cursor: pointer;

}

