@import "../styles/nav.css";
@import "../styles/contacts.css";
@import "../styles/projects.css";
@import "../styles/aboutus.css";
@import "../styles/services.css";
@import "../styles/project-lesnoy.css";
@import "../styles/last-black.css";

* {
    box-sizing: border-box;
} 

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
}
.module1 {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    min-height: 3868px;
}

.adcontainer {
    margin: 0 auto;
    
    padding-left: 125px;
    padding-right: 125px;
    min-height: 3868px;
    background: #FFFFFF;
    
}

h1, h2, h3 {
    letter-spacing: -0.03em;
    color: #121212;
}




@media (max-width: 1199px) {
    .adcontainer {
        width: 100%;
        padding-left: 17px;
        padding-right: 15px;
}

    .aboutus_interior {
        margin-bottom: 120px;
        width: 100%;
        height: 400px;
        }
        h1 {
        max-width: 100%;
        font-size: 50px;
        
    }

    .aboutus_image-text{
        max-width: 100%;
        bottom: 30px;

    }
    p.aboutus_description {
        font-size: 35px;
        width: 690px;
    }
    .aboutus_a {
        margin-bottom: 120px;
        width: 255px;
        padding: 20px 40px;
        
    }
    .projects_GK {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .projects_link {
        margin-bottom: 80px;
    }
    .projects_all_projects {
        margin-bottom: 103px;
    }
    
}

@media (max-width: 767px) {
    .adcontainer {
       
        width: 100%;
        padding-left: 13px;
        padding-right: 12px;
    }
    .aboutus_interior {
        margin-bottom: 80px;
        height: 304px;
    }
    h1 {
        margin-bottom: 25px;
        max-width: 100%;
        font-size: 30px;
        line-height: 31px;
    }

    .aboutus_image-text{
        width: 312px;
        font-size: 16px;
        
        bottom: 15px;
        left: 15px;
    }

    h2 {margin-bottom: 20px;
        font-size: 14px;
    }
    p.aboutus_description {
        max-width: 100%;
        font-size: 22px;
        line-height: 1.3;
    }
    .aboutus_a {
        margin-bottom: 80px;
        width: 194px;
        height: 51px;
        font-size: 16px;
        padding: 14px 27px;
        white-space: nowrap;
    }
    h3 {
        margin-bottom: 20px;
        font-size: 14px;
    }
    .projects_image-studio {
        margin-bottom: 20px;
    }
    .projects_GK {
        font-size: 18px;
        margin-bottom: 11px;
    }
    .projects_link {
        margin-bottom: 49px;
        font-size: 16px;
    }
    .projects_all_projects {
        font-size: 22px;
        margin-bottom: 144px;
    }


}